*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

*.nupkg
*.snk
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxupload
*.appxsym

project.lock.json
project.fragment.lock.json
artifacts/

# .NET Core
project.assets.json
vstest.console.colors.c
*.diagcrash

# NuGet
packages/
*.nuget.props
*.nuget.targets
